@media only screen and (min-width: 1366px) {

  //////// results section
  #result-container {

    #promoted-results {
      .promotedCard {
        max-width: 100%;
        height: 49%;
        grid-template-columns: 20% 30% 1fr;
        grid-template-rows: repeat(3, 13%) 43%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        .promoTag {
          max-width: 200px;
        }

        .modelContainer {
          font-size: 1em;
        }
        .stockAndPriceContainer {
          font-size: 1em;

        }
        .sendToCheckout {
          margin: 8px 15px 0 0 ;

          .addToCheckout {
            margin: 0 15px 0 auto;

          }
        }
      }
    }
  }
  //////// Text styling

  h2 {
    font-size: 1.3em;
  }
  /////// Display classes
  .desktop {
    display: block;
  }
}