@media only screen and (min-width: 1366px) {

  //////// results section
  #result-container {
    #promoted-results {
      .promotedCard {
        .promoTag {
          max-width: 200px;
        }
        .modelContainer, .stockAndPriceContainer {
          font-size: 1.1em;
        }
        .stockAndPriceContainer .totalPriceContainer .textLabel{
          margin-bottom: 16px;
        }

      }
    }
    #query-results {
      .resultCardLong {
        grid-template-columns: 20% 10% 13% 10% 9% 12% 14% 11%;
        .cardHeader {
          font-size: 1.3vw;
          margin-left: 10px;
        }
      }
      .addToCheckout{
        width: 100%;
        max-width: 143px;
        justify-self: flex-end;
        .addCartIcon {
          padding: 0 5px;
        }
        div {
          font-size: 12px;
          font-weight: 600;
          margin-right: 8px;
        }
      }
    }

  }
  //////// Text styling

  h2 {
    font-size: 1.3em;
  }
  /////// Display classes
  .desktop, .hiddenTablet {
    display: block;
  }
}